footer{
  background-color: #FAF9F6;
  padding: 40px 80px;
  color: #1E1E1E;
  border-top: 1 px solid #E5E3DC;

  /* child emelemetns (sections) should be displayed side by side with equal spacing between them */
  @media screen and (min-width: 650px){
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
  

  section {
    /* styling for section */
      &:not(:first-child) {
        @media screen and (max-width:649.98px){
          h3 {
            margin-top:30px;
        }
      }
    }

    h3 {
        font-family: 'Inter', sans-serif;
        font-size: 0.8rem;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 1rem;
        margin: 0;
    }

    p {
      margin:0;
      font-family: 'Inter', sans-serif;
      font-size: 0.9rem;
      line-height: 1.8;
      color: #3A3A3A;

      &.space-before {
        margin-top: 10px;
      }
    }

    a {
        font-family: 'Inter', sans-serif;
        font-size: 0.9rem;
        line-height: 1.8;
        color: #3A3A3A;
        text-decoration: none;

        &:hover {
        color: #8B8A70;
      
      }
    }
/* hide the last section if less then 900 px wide screen */
    &:last-child {
      @media screen and(max-width:899px) {
        display: none;
      }
    }
  }
}

footer section a {
  position: relative;
}

footer section a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #8B8A70;
  transition: width 0.3s ease;
}

footer section a:hover::after {
  width: 100%;
}

/* Sticky footer logic */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}